{% extends 'shop/base.html' %}
{% load static %}
{% block title %} СТРАНИЦА АУТЕНТИФИКАЦИИ {% endblock %}
{% block head %} 
<style>
    .shadowbox {
      border: 1px solid #212120;
      box-shadow: 8px 8px 5px #444;
      padding: 8px 12px;
      background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    }
    .layer {
        background: #e6c69f ;    
       }
</style>
<style type="text/css">
    .space { 
     width: 680px; /* Ширина элемента в пикселах */
     padding-bottom: 8px; /* Поле снизу от текста */
     padding-top: 8px; /* Поле сверху от текста */
     padding-right: 15px; /* Поля */
     padding-left: 15px; /* Поля */
     background: #fad0b4; /* Цвет фона */
     border: 1px solid #803300; /* Параметры рамки */
     margin: auto;
     
    }
</style>

{% endblock %}
{% block content %} 

<center></center>
<p> <font size="8" color= #E5D3BD;  face="Times New Roman"> Восстановление пароля </font> </p>
<hr>

<div class="space">
<form action="" method="POST" >
    {% csrf_token %}

    <div class="form-group">
        <label for="exampleInputEmail1"><font size="5" color= #E5D3BD;  face="Times New Roman"> Введите адрес электронной почты </font></label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="email">
        <small id="emailHelp" class="form-text text-muted"><font size="2" color= #E5D3BD;  face="Times New Roman"> We'll never share your email with anyone else.</font>  </small>
    <br>
    <hr>
    <center>
    <button type="submit" class="btn btn-primary">Submit</button>
    </center>
    </div>
   
</form>
</div>
<hr>
{% endblock %}


